@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, html {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 800;
    font-size: 70px;
}

h3 {
    font-weight: bold;
    font-size: 40px;
}

h4 {
    font-weight: 600;
    font-size: 20px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.hero-banner {
    background-color: #03012C;
    color: #FBF5F3;
    height: 100vh;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.hero-banner h1 {
    margin: 14px 0 30px;
}

.hero-banner h3 {
    margin: 0;
}

.hero-banner h4 {
    margin: 0;
}

.character1 {
    width: 345px;
    height: 341px;
    position: absolute;
    top: 164px;
    right: 110px;
    background: url("characters/character1.png") no-repeat 0 0;
    background-size: 100%;
    transform: rotate(15deg);
}

.character2 {
    width: 219px;
    height: 334px;
    position: absolute;
    top: 414px;
    right: 340px;
    background: url("characters/character2.png") no-repeat 0 0;
    background-size: 100%;
}

.character3 {
    width: 271px;
    height: 345px;
    position: absolute;
    bottom: 109px;
    right: 69px;
    background: url("characters/character3.png") no-repeat 0 0;
    background-size: 100%;
}

a.cta,
button.cta {
    font-size: 30px;
    font-weight: bold;
    color: #FBF5F3;
    background-color: #03012C;
    display: inline-block;
    box-shadow: 0 0 0 10px #546A7B;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    margin: 35px 0 0;
}

a.cta.alt,
button.cta.alt
{
    box-shadow: 0 0 0 10px #546A7B;
    color: #03012C;
    background-color: #D6CA98;
    margin-top: 70px;
}