@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');

body, html {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 800;
    font-size: 70px;
}

h2 {
    font-weight: 800;
    font-size: 60px;
}

h3 {
    font-weight: bold;
    font-size: 40px;
}

h4 {
    font-weight: 600;
    font-size: 20px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.hero-banner {
    background-color: #03012C;
    color: #FBF5F3;
    height: 100vh;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.hero-banner h1 {
    margin: 14px 0 30px;
}

.hero-banner h3 {
    margin: 0;
}

.hero-banner h4 {
    margin: 0;
}

.character1 {
    width: 345px;
    height: 341px;
    position: absolute;
    top: 164px;
    right: 110px;
    background: url("characters/character1.png") no-repeat 0 0;
    background-size: 100%;
    transform: rotate(15deg);
}

.character2 {
    width: 219px;
    height: 334px;
    position: absolute;
    top: 414px;
    right: 340px;
    background: url("characters/character2.png") no-repeat 0 0;
    background-size: 100%;
}

.character3 {
    width: 271px;
    height: 345px;
    position: absolute;
    bottom: 109px;
    right: 69px;
    background: url("characters/character3.png") no-repeat 0 0;
    background-size: 100%;
}

a.cta,
button.cta {
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: #FBF5F3;
    background-color: #03012C;
    display: inline-block;
    box-shadow: 0 0 10px 10px #546A7B;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    margin: 35px 0 0;
    cursor: pointer;
}

a.cta.alt,
button.cta.alt
{
    box-shadow: 0 0 15px 10px #546A7B;
    color: #03012C;
    background-color: #D6CA98;
    margin-top: 70px;
}

nav {
    height: 100px;
    background-color: #FBF5F3;
    box-sizing: border-box;
    box-shadow: 0 0 20px 5px #03012C;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    float: right;
}

nav li {
    display: inline-block;
    margin: 10px 15px;
    font-weight: 800;
    text-transform: uppercase;
}

nav a {
    color: #03012C;
    text-decoration: none;
    font-size: 30px;
}

.logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 65px;
    text-transform: uppercase;
}

.more-info {
    margin: 0 auto;
    text-align: center;
    width: 950px;
    box-sizing: border-box;
    padding: 100px 0 20px;
}

.more-info h2 {
    margin: 10px;
}

p {
    font-weight: 600;
    font-size: 30px;
}

p span {
    color: red;
    background-color: #D6CA98;
    padding: 2px 7px;
    font-weight: 1000;
    font-size: 31px;
}

.sep {
    height: 0;
    margin: 100px auto;
    width: 500px;
    border: 5px solid black;
    border-radius: 4px;
}

.story h3 {
    font-size: 40px;
    font-weight: bolder;
}

.story p {
    font-size: 25px;
    font-weight: bold;
}

.nb-list {
    list-style: none;
    padding: 20px 20px 0;
    margin: 0 40px 20px 0;
    float: left;
    width: 470px;
    background-color: #D6CA98;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
}

.nb-list li {
    padding: 6px 20px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: block;
    height: 70px;
    box-shadow: 0 0 5px 2px black;
}

.nb-list li.blue {
    background-color: #007FFF;
}

.nb-list li.gray {
    background-color: black;
    opacity: 10%;
}

.nb-list li.yellow {
    background-color: #FFD400;
    color: black;
}

.nb-list li.red {
    background-color: #FF3300;
}

.nb-list li.pink {
    background-color: #FFADF9;
}

.nb-list li.salmon {
    background-color: #FA8072;
}

.dragging {
    position: absolute;
    height: 30px;
    width: 470px;
    transform: translateX(70px) translateY(-117px) rotate(5deg);
}

.nb-list li.dragging:after {
    content: '';
    display: block;
    position: absolute;
    width: 120px;
    height: 100px;
    background: url("img/closedhand.svg") no-repeat 0 0;
    background-size: 100%;
    transform: translateX(220px) translateY(-80px) rotate(4deg);
}

.gang-img {
    display: block;
    margin: 0 auto 100px;
}

footer {
    text-align: center;
    height: 80px;
    background-color: #03012C;
}

footer p {
    padding: 17px 0;
    box-sizing: border-box;
    color: #FBF5F3;
    margin: 0;
}

.popup {
    display: none;
}

/*

<div class="story" id="story">
    <ul class="nb-list">
        <li class="blue">Rock 'n Roll</li>
        <li class="gray">&nbsp;</li>
        <li class="yellow dragging">Laughter</li>
        <li class="red">Square Offs</li>
        <li class="pink">Circuitous Routes</li>
        <li class="salmon">Trigonometry</li>
        <li class="blue">Rad Hats</li>
        <li class="yellow">Being Silly</li>
    </ul>
    <h3>
        Left: Things We Find Important<br>
        Below: Our Story
    </h3>
    <p>
        Once upon a time there was a group of shapes. They were mostly black and rectangular. They were mean
        and very serious.
    </p>
    <p>
        And so they kicked the 3 shapes that didn't conform out of their gang, which was called the Right
        Angled Gang.
    </p>
    <p>
        And so these 3 shapes were very sad, but found great joy and comfort being around each other. They
        soon started having a lot of fun, started rocking and rolling, started being silly, and became the
        most well-know shape gang in the universe.
    </p>
    <p>
        They even started making fun of squares and rectangles in what they like to call 'Square Offs'!
    </p>
</div>

*/